@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

.dates-page-content {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    overflow-x: hidden;
    width: 100%;
    max-width: 100%;
    min-height: 100vh;
}

